header {
  position: relative;
  padding: 0.8rem;
  justify-content: space-between;
  text-align: center;
  align-items: baseline;
}

header nav {
  width: 100%;
}

.logoHomeMobile {
  display: none;
  opacity: 0;
  width: auto;
  height: auto;
}

.s a:first-child {
  /* padding-inline-start: 2.4rem; */
}
.dropdown {
  position: absolute;
}
.toTopButton {
  cursor: pointer;
  padding: 1rem 1.5rem;
  position: fixed;
  border-radius: 0.8rem;
  background-color: white;
  bottom: 2%;
  left: 84%;
  font-size: 1.6rem;
  color: #0053fc;
  font-weight: 750;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-family: "CircularStd-Book";
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.showTop {
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
}

.header-links {
  padding: 1.2rem;
  display: flex;
  align-items: center;
}

.header-links > ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 1024px) {
  .header-links .header-contact {
    position: absolute;
    right: 40px;
    top: 30px;
  }
}

.header-links a {
  opacity: 1;
  transition: opacity 0.2s;
  font-size: 2rem;
  font-weight: 700;
}

.header-links .s {
  /* margin-right: 60rem; */
}

.header-links .s a:hover {
  transition: ease 0.2s;
  color: #5452f6;
}

.header-contact {
  position: relative;
}

.header-contact a {
  display: block;
  color: #0053fc;
  font-weight: 700;
  font-size: 1.6rem;
  justify-content: flex-end;
  padding-right: 1rem;
  transform: translateX(-4%);
}

.header-contact a::after {
  content: url(/assets/components/style_component.svg);
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  transition: 0.1s ease-in;
  transform: 0.2s;
}

.header-contact a:hover::after {
  content: url(/assets/components/style_component_hover.svg);
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  fill: #00339b;
  transition: all 0.4s;
}

.menu-area > ul > li {
  font-size: 2.2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  align-items: baseline;
  margin-left: 1.8rem;
  padding-bottom: 10px;
  line-height: 130%;
}

.menu-area > ul > li a {
  padding-left: 0;
}

.dropdown {
  margin: 0 auto;
  padding: 0;
  margin-top: 1rem;
  width: 32.5rem;
  height: auto;
  position: relative;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2.9rem 3.2rem hsla(215, 18%, 68%, 0.34);
  border-radius: 0.8rem;
  position: absolute;
}

.dropdown-tittle::before {
  content: "";
  transform: translateX(180deg);
}
.dropdown h2 {
  padding: 2rem 3rem 0rem 4rem;
  font-size: 2.4rem;
  line-height: 104%;
  font-weight: 700;
}
.dropdown .drop-down-item a {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-inline: 2rem;
}
.drop-down-item a:first-child {
  padding-top: 2rem;
}
.dropdown .drop-down-item img {
  background-color: #eef8ff;
  padding: 1.1rem;
  border-radius: 0.8rem;
}
.menu-area > ul li:hover,
.menu-area > ul li:hover a {
  color: #5452f6;
  cursor: pointer;
}

.dropdown .drop-down-item a {
  /* padding: 1rem; */
  font-weight: 450;
  font-size: 2rem;
  line-height: 104%;
  /* margin-left: 1rem; */
  transition: transform 1.5s;
  gap: 1rem;
}

.dropdown li:nth-child(5) {
  margin-bottom: 2rem;
}
.dropdown .drop-down-item a:hover {
  font-weight: 700;
  transition: transform 1.5s;
  color: rgba(67, 128, 229, 1);
}

.dropdown {
  display: none;
}

.menu-area > ul li:hover > #dropdown {
  display: block;
}
.menu-area > ul li:hover > .dropdown {
  perspective: 100rem;
}

.menu-area li:hover > .dropdown li {
  transform-origin: top center;
  opacity: 0;
}

.menu-area li:hover > .dropdown li:nth-child(1) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -300ms;
}

.menu-area li:hover > .dropdown li:nth-child(2) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}
.menu-area li:hover > .dropdown li:nth-child(3) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}
.menu-area li:hover > .dropdown li:nth-child(4) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}
.menu-area li:hover > .dropdown li:nth-child(5) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/* @media screen and (max-width: 1300px) {
  .header-links .s {
    margin-right: 30rem;
  }
}

@media screen and (max-width: 1100px) {
  .header-links .s {
    margin-right: 20rem;
  }
} */

@media screen and (max-width: 1024px) {
  /* .header-links .s {
    margin-right: 30rem;
  } */

  .dropdown {
    position: relative;
  }
  .dropdown li {
    display: none;
  }
  .ShowToggle,
  .dropdown {
    display: block;
    background-color: none;
    box-shadow: none;
    /* margin-left: -8rem; */
    /* margin-bottom: 3rem; */
  }

  .ShowToggle a {
    width: 40ch;
  }

  /* #navBar .header-links{
    display: none;
  } */
}

@media screen and (min-width: 1490px) {
  .header-links .s {
    margin-right: 75rem;
  }
}

@media only screen and (max-width: 1024px) {
  .toTopButton {
    position: fixed;
    left: 75%;
    bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .toTopButton {
    position: fixed;
    left: 65%;
    bottom: 5%;
  }
}

@media only screen and (max-width: 468px) {
  .toTopButton {
    position: fixed;
    left: 55%;
    bottom: 5%;
  }
}

@media only screen and (max-width: 368px) {
  .toTopButton {
    position: fixed;
    left: 45%;
    bottom: 5%;
  }
}

@media only screen and (max-width: 268px) {
  .toTopButton {
    position: fixed;
    left: 40%;
    bottom: 5%;
  }
}
